# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

###  1. Get the total rides for each city type

In [3]:
# Create the Urban city DataFrame.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]

# Create the Suburban and Rural city DataFrames.
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

In [4]:
# Get the number of rides for urban cities.
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]

# Get the number of rides for suburban cities.
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]

# Get the number of rides for rural cities.
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]

In [5]:
#Urban ride count
urban_ride_count.head()

city
Amandaburgh        18
Barajasview        22
Carriemouth        27
Christopherfurt    27
Deanville          19
Name: ride_id, dtype: int64

In [6]:
# Suburban ride count
suburban_ride_count.head()

city
Barronchester    16
Bethanyland      18
Brandonfort      19
Colemanland      22
Davidfurt        17
Name: ride_id, dtype: int64

In [7]:
# Rural ride count
rural_ride_count.head()

city
Bradshawfurt      10
Garzaport          3
Harringtonfort     6
Jessicaport        6
Lake Jamie         6
Name: ride_id, dtype: int64

### 2. Get the total drivers for each city type

In [8]:
# Get the total number of drivers for each urban city.
urban_driver_count = urban_cities_df.groupby(["city"]).sum()["driver_count"]

# Get the total number of drivers for each city for the suburban and rural cities.
suburban_driver_count = suburban_cities_df.groupby(["city"]).sum()["driver_count"]
rural_driver_count = rural_cities_df.groupby(["city"]).sum()["driver_count"]

In [9]:
#Urban driver count
urban_driver_count.head()

city
Amandaburgh         216
Barajasview         572
Carriemouth        1404
Christopherfurt    1107
Deanville           931
Name: driver_count, dtype: int64

In [10]:
# Suburban driver count
suburban_driver_count.head()

city
Barronchester    176
Bethanyland      396
Brandonfort      190
Colemanland      506
Davidfurt        391
Name: driver_count, dtype: int64

In [11]:
# Rural driver count
rural_driver_count.head()

city
Bradshawfurt      70
Garzaport         21
Harringtonfort    24
Jessicaport        6
Lake Jamie        24
Name: driver_count, dtype: int64

###  3. Get the total amount of fares for each city type

In [12]:
# Get the fares for the urban cities.
urban_fares = urban_cities_df["fare"]

###  4. Get the average fare per ride for each city type.

In [13]:
# Get average fare for each city in the urban cities.
urban_avg_fare = urban_cities_df.groupby(["city"]).sum()["fare"]

# Get average fare for each city in the suburban and rural cities.
suburban_avg_fare = suburban_cities_df.groupby(["city"]).sum()["fare"]
rural_avg_fare = rural_cities_df.groupby(["city"]).sum()["fare"]

In [14]:
urban_avg_fare.head()

city
Amandaburgh        443.55
Barajasview        557.31
Carriemouth        764.49
Christopherfurt    661.55
Deanville          491.01
Name: fare, dtype: float64

In [15]:
suburban_avg_fare.head()

city
Barronchester    582.76
Bethanyland      593.21
Brandonfort      673.31
Colemanland      679.68
Davidfurt        543.93
Name: fare, dtype: float64

In [16]:
rural_avg_fare.head()

city
Bradshawfurt      400.64
Garzaport          72.37
Harringtonfort    200.82
Jessicaport       216.08
Lake Jamie        206.15
Name: fare, dtype: float64

In [17]:
# Get the avg fares per ride for each city type.

type_per_ride = pyber_data_df.groupby(["type"]).sum()["fare"] / pyber_data_df["ride_id"].count()
type_per_ride

type
Rural        1.822286
Suburban     8.150034
Urban       16.780792
Name: fare, dtype: float64

### 5. Get the average fare per driver for each city type.

In [18]:
# Get the avg fares per driver for each city type.

type_per_driver = pyber_data_df.groupby(["type"]).sum()["fare"] / pyber_data_df["driver_count"].count()
type_per_driver

type
Rural        1.822286
Suburban     8.150034
Urban       16.780792
Name: fare, dtype: float64

In [19]:
# Total Rides for each city type

total_rides = pyber_data_df.groupby(["type"]).count()["ride_id"]
total_rides

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [38]:
# Total drivers for each city type

total_drivers = city_data_df.groupby(["type"]).sum()["driver_count"]
total_drivers

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [39]:
# Total drivers for each city type

total_fares = pyber_data_df.groupby(["type"]).sum()["fare"]
total_fares

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [40]:
# Avg fare per ride for each city type

#per_ride = pyber_data_df.groupby(["type"]).sum()["fare"] / pyber_data_df["ride_id"].count()


per_ride = (pyber_data_df.groupby(["type"]).sum()["fare"]) / (pyber_data_df.groupby(["type"]).count()["ride_id"])

In [23]:
per_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [43]:
# Avg fare per driver for each city type

per_driver = (pyber_data_df.groupby(["type"]).sum()["fare"]) / (city_data_df.groupby(["type"]).sum()["driver_count"])

In [44]:
per_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [ ]:
## Create a dataframe

In [47]:
pyber_summary_df = ({'Rides': [total_rides]})

#pyber_summary_df = (total_rides, total_drivers, total_fares, per_ride, per_driver)


pyber_summary_df.head()

AttributeError: 'dict' object has no attribute 'head'

###  7. Cleaning up the DataFrame. Delete the index name

In [26]:
# pyber_summary_df.index.name = None

###  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [27]:
# 1. Read the merged DataFrame

In [28]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [29]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [30]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [31]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [32]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [33]:
# 7. Check that the datatype for the index is datetime using df.info()

In [34]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [35]:
# # 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# # Import the style from Matplotlib.
# from matplotlib import style
# # Use the graph style fivethirtyeight.
# style.use('fivethirtyeight')